<div class="nav" id="main-nav">
  <div class="nav-title">
    <h3>Cocktail Recipes</h3>
  </div>
  <div class="nav-options">
    <p><%= link_to "View Cocktails", cocktails_path, class: "btn btn-outline-primary" %></p>
    <p><%= link_to "Add a Cocktail", new_cocktail_path, class:  "btn btn-outline-primary"%></p>
  </div>
</div>
