<div class="index">
  <div class="banner">
    <h2>Your comprehensive list of essential cocktails</h2>
    <p>Perfect for your next <span id="banner-typed-text"></span></p>
  </div>
  <div class="index-container">
    <h1>The Cocktails </h1>
    <div class="row">
      <% @cocktails.each do |cocktail| %>
      <div class="col-sm-4">
        <p><%= link_to "Remove", cocktail_path(cocktail), method: :delete %></p>
        <%= link_to cocktail_path(cocktail) do %>
          <div class="cocktail-card">
            <div class="cocktail-info">
              <h2><%= cocktail.name %></h2>
             <p><%= cocktail.description %></p>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>

</div>


