<div class="banner">
  <h2>Your comprehensive list of essential cocktails</h2>
  <p>Perfect for your next <span id="banner-typed-text"></span></p>
</div>
<div class="index-container">
  <h1>Index</h1>
</div>
